<div class="row">
  <div class="col-lg-4 col-sm-6">
    <div class="card border-0 mb-10">
      <div class="card-body p-2 d-table w-100">
        <div class="row">
          <div class="col-4 ">
            <div class="d-table-cell align-middle"><img class="img-mini" src="assets/img/shop/products/postre1.png"
                alt="Image"></div>
          </div>
          <div class="col-8">
            <p class="fs-8 fw-bold6 m-0">Brownie de chocolate</p>
            <p class="fs-8 fw-bold6">Sin: <span class="fs-8 fw-bold1">Leche evaporada, canela</span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <span class=" badge badge-dark fs-9">Enviado a cocina</span>
          </div>
          <div class="col-8">
            <p class="fs-8 fw-bold6 m-0">Instrucciones</p>
            <span class="fs-8 fw-bold1">Agregar fresas y pedazos de manzana </span>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-2 mt-1">
            <button type="button" class="btn btn-outline-danger btn-sm mx-1">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
          <div class="col-2 mt-1">
            <button type="button" class="btn btn-outline-secondary btn-sm mx-1">
              <i class="fas fa-edit"></i>
            </button>
          </div>
          <div class="col-8 text-right fw-bold6 mt-3">
            <span>$174.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="my-1">