<div *ngIf="!subcategory.imageAsBackground" class="row align-items-center my-2 h-100 rounded border cover"
  [style.backgroundColor]="subcategory.bgColor">
  <div class="col-5">
    <p class="fs-15 text-center" [style.color]="subcategory.fontColor">
      {{ subcategory.name }}
    </p>
  </div>
  <div class="col-7 p-0 px-2">
    <img *ngIf="subcategory.image" class="d-block img-category mx-auto"
      [src]="'http://localhost:9000/'+subcategory.image">
  </div>
</div>

<div *ngIf="subcategory.imageAsBackground" class="row align-items-center my-2 h-100 rounded border cover"
  [style.backgroundImage]="getBackgroudImage(subcategory.image)">
</div>
