<div class="row">
    <div class="col-lg-9 order-lg-2">
      <div class="product-card product-list mb-30"><a class="product-thumb" href="/shop/single">
          <img src="assets/img/shop/products/postre1.png" alt="Product" class="imagen-produc"></a>
        <div class="product-card-inner">
          <div class="product-card-body">
            <div class="product-category"></div>
            <span class="product-title"><a href="/single">Brownie de chocolate</a></span>
            <div class="product-category"><a href="#"> Dulce de azúcar sin harina, postre de pastel de chocolate, azúcar
                moreno empacado, comida, horneando</a></div>
            <span class="product-price mt-4">
              $49.99
            </span>
            <p class="text-sm text-muted hidden-xs-down my-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Tempore odit officiis illo perferendis deserunt, ipsam dolor ad dolorem eaque veritatis.</p>
          </div>
          <div class="product-button-group"><a class="product-button" href="#" data-toast data-toast-type="success"
              data-toast-position="topRight" data-toast-icon="icon-check-circle" data-toast-title="Product"
              data-toast-message="successfuly added to cart!">
              <i class="icon-shopping-cart"></i>
              <span>AGREGAR A LA ORDEN</span></a></div>
        </div>
      </div>
    </div>
  </div>