
<div *ngIf="!category.imageAsBackground" class="row align-items-center my-2 h-100 rounded border cover" (click)="goCategory(category)"
  [style.backgroundColor]="category.bgColor">
  <div class="col-5">
    <p class="fs-15 text-center" [style.color]="category.fontColor">
      {{ category.name }}
    </p>
  </div>
  <div class="col-7 p-0 px-2">
    <img *ngIf="category.image" class="d-block img-category mx-auto" [src]="category.image">
  </div>
</div>

<div *ngIf="category.imageAsBackground"  class="row align-items-center my-2 h-100 rounded border cover" (click)="goCategory(category)"
  [style.backgroundImage]="getBackgroudImage(category.image)" >
</div>
