<!-- Page Title-->
<div class="page-title">
  <div class="container">
    <div class="column">
      <span class="fs-3 font-weight-light ">{{breadcrumbs[breadcrumbs.length -1].name}}</span>
    </div>
    <shortcut [breadcrumbs]="breadcrumbs"></shortcut>
  </div>
</div>
<!-- Page Content-->
<div class="container ">

  <div class="row" *ngIf="products.length > 0">
    <div class="col-12">
      <span class="text-deco">{{ productCounter() }}</span>
    </div>
  </div>
  <hr class="my-5">


  <product *ngFor="let product of products; let i = index" [ordered]="product" [index]="i">
  </product>

  <ng-container *ngIf="getTotal() > 0">
    <div class="row  mx-1">
      <div class="col-6 px-2">
        <span>Subtotal</span>
      </div>
      <div class="col-6 text-right fw-bold7 px-1">
        <span>
          {{ getTotal() | currency}}
        </span>
      </div>
    </div>
  </ng-container>


  <div *ngIf="products.length === 0">
    Aún no has selecciónado un platillo
    visita nuestras
    <a [routerLink]="['/']">
      Categorías
    </a>
  </div>
</div>


<div class="row fixed-button text-center" *ngIf="getTotal() > 0">
  <div class="col-6">
    <button class="btn btn-secondary btn-sm button-flot" (click)="showSuccess()">
      Enviar a cocina
    </button>
  </div>
  <div class="col-6">
    <a class="btn btn-outline-secondary btn-sm button-flot" [routerLink]="['/checkout']" (click)="saveTotal()" >
      Pagar
    </a>
  </div>
</div>
