
<div class="container-fluid">
  <div class="row">
    <div class="col-12 my-4 text-center">
      <span class="fs-3 font-weight-light">
        Categorias
      </span>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mx-0">
    <div class="col-12 my-2 category-wrapper" (click)="goCategory('cortes')">
      <div class="row align-items-center h-100 bg-category">
        <div class="col-5">
          <span class="fs-5 fw-bold5 text-white">Desayunos</span>
        </div>
        <div class="col-7">
          <img class="d-block img-category mx-auto" src="assets/img/shop/categories/carne.png" alt="Image">
        </div>
      </div>
    </div>
    <div class="col-12 my-2 category-wrapper" (click)="goCategory('ensaladas')">
      <div class="row align-items-center h-100 bg-category-1">
        <div class="col-5">
          <span class="fs-5 fw-bold5 text-dark">Ensaladas</span>
        </div>
        <div class="col-7">
          <img class="d-block img-category mx-auto" src="assets/img/shop/categories/ensalada.png" alt="Image">
        </div>
      </div>
    </div>
    <div class="col-12 my-2 category-wrapper" (click)="goCategory('postres')">
      <div class="row align-items-center h-100 bg-category-2">
        <div class="col-5">
          <span class="fs-5 fw-bold5 text-white">Postres</span>
        </div>
        <div class="col-7">
          <img class="d-block img-category mx-auto" src="assets/img/shop/categories/postre.png" alt="Image">
        </div>
      </div>
    </div>
  </div>
</div>
