<div class="container-fluid">
  <div class="row">
    <div class="col-12 my-4 text-center">
      <span class="fs-3 font-weight-light">
        Categorias
      </span>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mx-0 my-2">
    <div class="col-12">
      <card *ngFor="let category of categories" [category]="category"></card>
    </div>
  </div>
</div>

<!--Modal-->
<ng-container *ngIf="modal">
  <form [formGroup]="formName" (ngSubmit)="saveName()">
    <div class="modal">
      <div class="contenido text-center">
        <h2 class="mt-5">Bienvenido a</h2>
        <img class="img-dialog" src="assets/img/shop/categories/logo.jpg">
        <h2 class="fs-6 mt-4">¿Con quien tenemos el gusto?</h2>
        <input type="text" class="form-control my-3 mx-3 w-90 text-center" placeholder="Cual es tu nombre?"
          aria-label="Username" aria-describedby="basic-addon1" formControlName="username">
        <button type="sumbit" [disabled]="formName.invalid" class="btn btn-primary" id="cerrar">Hecho!</button>
      </div>
    </div>
  </form>
</ng-container>
