<div class="row">
    <div class="col-lg-9 order-lg-2">
      <div class="product-card product-list mb-30">
        <a class="product-thumb" [routerLink]="['/meal/description/' + product._id]">
          <img [src]="'http://localhost:9000/'+product.image" [alt]="product.name" class="imagen-produc">
        </a>
        <div class="product-card-inner">
          <div class="product-card-body">
            <div class="product-category"></div>
            <span class="product-title">
              <a [routerLink]="['/meal/description/' + product._id]">
                {{ product.name }}
              </a>
            </span>
            <div class="product-category">
              <a class="text-decoration-none text-secondary">
                {{ product.description }}
              </a>
            </div>
            <span class="product-price mt-4">
              {{ product.price | currency}}
            </span>
          </div>
          <div class="product-button-group" (click)="addToOrder( product )" (click)="showSuccess()">
            <a class="product-button">
              <i class="icon-shopping-cart"></i>
              <span>
                AGREGAR A LA ORDEN
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>