<!-- Page Title-->
<div class="page-title">
  <div class="container">
    <div class="column">
      <span class="fs-3 font-weight-light">Brownie de chocolate</span>
    </div>
    <div class="column">
      <ul class="breadcrumbs">
        <li><a href="">Inicio</a>
        </li>
        <li class="separator">&nbsp;</li>
        <li><a href="/shop/list">Postres</a>
        </li>
        <li class="separator">&nbsp;</li>
        <li>Brownie de chocolate</li>
      </ul>
    </div>
  </div>
</div>
<!-- Page Content-->

<div class="containter">

  <carousel></carousel>

  <text></text>

  <checkbox></checkbox>

  <text-area></text-area>

  <buttons></buttons>

</div>
