<header class="site-header navbar-sticky">

  <form *ngIf="search">
    <div class=" justify-content-between">
      <div class="row">
        <div class="col-12 mx-2">
          <input class="form-control display-search w-75 my-3" type="text" name="search" placeholder="Buscar ....">
          <button type="button" class="btn btn-primary" (click)="viewSearch()">
            <span class="material-icons d-flex align-items-center">
              search
            </span>
          </button>
        </div>
      </div>
    </div>
  </form>

  <div class="topbar d-flex justify-content-between" *ngIf="!search">
    <div class="site-branding d-flex justifyu-content-center">
      <a class="logo" [routerLink]="['/']">
        <img src="assets/img/shop/categories/logo.jpg">
      </a>
    </div>
    <div class="toolbar d-flex">
      <div class="toolbar-item visible-on-mobile mobile-menu-toggle">
        <a (click)="viewSearch()">
          <div>
            <i class="icon-search"></i>
            <span class="text-label">
              Buscar
            </span>
          </div>
        </a>
      </div>
      <div class="toolbar-item">
        <a [routerLink]="['/order']">
          <div>
            <span class="cart-icon">
              <i class="icon-shopping-cart"></i>
              <span class="count-label">
                {{ quantity }}
              </span>
            </span>
            <span class="text-label">
              Orden
            </span>
          </div>
        </a>
      </div>
    </div>
  </div>
</header>
