<!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
<header class="site-header navbar-sticky">
  <!-- Topbar-->
  <div class="topbar d-flex justify-content-between">
    <!-- Logo-->
    <div class="site-branding d-flex justifyu-content-center">
      <a class="logo" [routerLink]="['/']">
        <img src="assets/img/shop/categories/logo.jpg">
      </a>
    </div>
    <!-- Toolbar-->
    <div class="toolbar d-flex">
      <div class="toolbar-item visible-on-mobile mobile-menu-toggle"><a>
          <div>
            <i class="icon-search"></i>
            <span class="text-label">
              Buscar
            </span>
          </div>
        </a>
      </div>
      <div class="toolbar-item">
        <a [routerLink]="['/order']">
          <div>
            <span class="cart-icon">
              <i class="icon-shopping-cart"></i>
              <span class="count-label">
                {{ quantity }}
              </span>
            </span>
            <span class="text-label">
              Orden
            </span>
          </div>
        </a>
      </div>
    </div>
  </div>
</header>
