<header class="site-header navbar-sticky">

  <div class="topbar d-flex justify-content-between">
    <div class="site-branding d-flex justifyu-content-center" *ngIf="!search">
      <a class="logo" [routerLink]="['/']">
        <img src="assets/img/shop/categories/logo.jpg">
      </a>
    </div>
    <div class="site-branding d-flex justify-content-center my-1" *ngIf="search">
      <div class="mobile-search">
        <form class="input-group" [formGroup]="formSearch">
          <span class="input-group-btn">
            <button type="submit"></button>
          </span>
          <input class="form-control" type="search" placeholder="Buscar ..." formControlName="name" (click)="getMeals()" >
        </form>
      </div>
    </div>
    <div class="toolbar d-flex">
      <div class="toolbar-item visible-on-mobile mobile-menu-toggle">
        <a (click)="viewSearch()">
          <div>
            <i class="icon-search"></i>
            <span class="text-label">
              Buscar
            </span>
          </div>
        </a>
      </div>
      <div class="toolbar-item" *ngIf="!search">
        <a [routerLink]="['/order']">
          <div>
            <span class="cart-icon">
              <i class="icon-shopping-cart"></i>
              <span class="count-label">
                {{ quantity }}
              </span>
            </span>
            <span class="text-label">
              Orden
            </span>
          </div>
        </a>
      </div>
    </div>
  </div>
</header>
