<!-- Page Title-->
<div class="page-title">
  <div class="container">
    <div class="column" *ngIf="!bread">
      <span class="fs-3 font-weight-light">{{breadcrumbs[0].name | titlecase}}</span>
    </div>
    <div class="column" *ngIf="bread">
      <span class="fs-3 font-weight-light">{{breadcrumbs[breadcrumbs.length -1].name | titlecase}}</span>
    </div>
    <shortcut [breadcrumbs]="breadcrumbs"></shortcut>
  </div>
</div>
<!-- Page Content-->
<div class="container">
  <list *ngFor="let product of realProducts" [product]="product"></list>
</div>