<!-- Page Title-->
<div class="page-title">
  <div class="container">
    <div class="column">
      <span class="fs-3">Orden</span>
    </div>
    <div class="column">
      <ul class="breadcrumbs">
        <li><a href="">Inicio</a>
        </li>
        <li class="separator">&nbsp;</li>
        <li><a href="/order">Orden</a>
        </li>
        <li class="separator">&nbsp;</li>
        <li>Pagar</li>
      </ul>
    </div>
  </div>
</div>

<div class="container">

  <split-account></split-account>

  <products></products>

  <gratuity></gratuity>

  <iva></iva>

  <total></total>

  <per-person></per-person>

  <payment-method></payment-method>

  <buttons></buttons>

</div>
