<div class="row mx-0">
  <div class="col-12">

    <div class="row mx-1 border border-secondary">
      <div class="col-12 text-center">
        <img src="assets/img/shop/products/postre1.png" class="img-1">
      </div>
    </div>
    <div class="row bg-gray my-2 mx-1 border border-secondary">
      <div class="col-4 my-2">
        <img src="assets/img/shop/products/brownie1.jpg" class="img">
      </div>
      <div class="col-4 my-2">
        <img src="assets/img/shop/products/brownie2.jpg" class="img">
      </div>
      <div class="col-4 my-2">
        <img src="assets/img/shop/products/brownie3.jpg" class="img">
      </div>
      <div class="col-4 my-2">
        <img src="assets/img/shop/products/brownie4.jpg" class="img">
      </div>
      <div class="col-4 my-2">
        <img src="assets/img/shop/products/postre1.png" class="img">
      </div>
    </div>
  </div>


</div>
